.row {
  align-items: center;
}
section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* border: 2px solid rgb(51, 47, 47); */
  margin: 0.5rem;
  height: 40%;
  padding: 2em;
  border-radius: 1%;
  /* max-height: 100vh; */
  width: 15vw;
  overflow: hidden;
}

main:hover {
  transform: translateY(-0.35px);
  box-shadow: 1px 3px rgba(61, 36, 36, 0.233);
  background-color: rgb(250, 227, 227);
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  float: center;
}

img:hover {
  transform: translateY(-0.45px);
}

li {
  list-style: none;
}

ul {
  text-align: left;
}

h2 {
  font-size: 1em;
  text-align: center;
}

main h2 {
  text-decoration: none;
  columns: grey;
}
